# Temporary files
*~
\#*

# Target folder
target/

# Eclipse files
.classpath
.pmd
.project
.settings/

# IntelliJ files
.idea/
*.iml

# Received emails folder
received-emails/
emails-recus/

# See : https://maven.apache.org/plugins/maven-shade-plugin/shade-mojo.html#createDependencyReducedPom
dependency-reduced-pom.xml
